{% extends 'proyecto/administrar_proyecto.html' %}
{% block titulo %}Administrar atributos{% endblock %}
{% block encabezado %}Atributos de la fase {{ fase.Nombre }} <small>Haz click en opciones para interactuar con un atributo</small>{% endblock %}

{% block botones %}
    <li>
        {% if usuario_actor.can_add_atributo %}
           {% if proyecto.Lider == usuario_actor %}
                <a href="{% url 'administracion.views.crear_atributo' proyecto.id fase.id %}" class="btn btn-default">Crear atributo</a>
            {% else %}
                <a class="btn btn-default" disabled="disabled">Crear atributo</a>
            {% endif %}
        {% endif %}
        <a href="{% url 'administracion.views.administrar_fases' proyecto.id %}" class="btn btn-default">Volver</a>

    </li>
{% endblock %}

{% block contenido %}
<table class="table table-striped">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Usuario</td>
                <td>Fecha de ultima modificacion</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for atributo in lista_atributos %}
                <tr>
                    <td>{{ atributo.Nombre }}</td>
                    <td>{{ atributo.Usuario }}</td>
                    <td>{{ atributo.Fecha }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                Opciones <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="'menu">
                                <li><a href="{% url 'administracion.views.detalle_atributo' proyecto.id fase.id atributo.id %}">Detalle</a></li>
                                <li><a href="{% url 'administracion.views.modificar_atributo' proyecto.id fase.id atributo.id %}">Modificar</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                         <div class="btn-group">
                            <a href="{% url 'administracion.views.confirmar_eliminar_atributo' proyecto.id fase.id atributo.id %}" type="button" class="btn btn-danger">Eliminar</a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr class="warning">
                <td>No hay atributos disponibles</td><td></td><td></td><td></td><td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% block mensaje %}{% endblock %}
{% endblock %}

