{% extends 'proyecto/administrar_proyecto.html' %}
{% block titulo %}Administrar atributos{% endblock %}
{% block encabezado %}Atributos de la fase {{ fase.Nombre }} <small>Haz click en opciones para interactuar con un atributo</small>{% endblock %}

{% block botones %}
    <li>

           {% if proyecto.Lider == usuario_actor and proyecto.get_Estado_display == "Pendiente" %}
                <a href="{% url 'administracion.views.crear_atributo' proyecto.id fase.id %}" class="btn btn-default">Crear atributo</a>
            {% endif %}
        <a href="{% url 'administracion.views.administrar_fases' proyecto.id %}" class="btn btn-default">Volver</a>
    </li>
{% endblock %}

{% block contenido %}
<table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Tipo</th>
                <th>Fecha de ultima modificacion</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for atributo in lista_atributos %}
                <tr>
                    <td>{{ atributo.Nombre }}</td>
                    <td>{{ atributo.Usuario }}</td>
                    <td>{{ atributo.get_Tipo_display }}</td>
                    <td>{{ atributo.Fecha }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                Opciones <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="'menu">
                                <li><a href="{% url 'administracion.views.detalle_atributo' proyecto.id fase.id atributo.id %}">Detalle</a></li>
                                {% if proyecto.Lider == usuario_actor and proyecto.get_Estado_display == "Pendiente" %}
                                    <li><a href="{% url 'administracion.views.modificar_atributo' proyecto.id fase.id atributo.id %}">Modificar</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                    {% if proyecto.Lider == usuario_actor and proyecto.get_Estado_display == "Pendiente" %}
                        <td>
                            <div class="btn-group">
                                <a href="{% url 'administracion.views.confirmar_eliminar_atributo' proyecto.id fase.id atributo.id %}" type="button" class="btn btn-danger">Eliminar</a>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr class="warning">
                <td>No hay atributos disponibles</td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% block mensaje %}{% endblock %}
{% endblock %}

