{% extends 'proyecto/fase/atributo/administrar_atributo.html' %}
{% block titulo %}Detalle de atributo{% endblock %}
{% block encabezado %}Detalle del atributo: {{ atributo.Nombre}}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="{% url 'administracion.views.administrar_atributo' proyecto.id fase.id %}" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}
    <dl class="dl-horizontal">
        <dt>Nombre:</dt>
        <dd>{{ atributo.Nombre }}</dd>
        <dt>Descripcion:</dt>
        <dd>{{ atributo.Descripcion }}</dd>
        <dt>Creado por:</dt>
        <dd>{{ atributo.Usuario }}</dd>
        <dt>Tipo:</dt>
        <dd>{{ atributo.get_Tipo_display }}</dd>
        <dt>Proyecto:</dt>
        <dd>{{ atributo.Fase.Proyecto }}</dd>
        <dt>Fase:</dt>
        <dd>{{ atributo.Fase }}</dd>
    </dl>
{% endblock %}