{% extends 'administracion.html' %}
{% block titulo %}Administrar roles{% endblock %}
{% block encabezado %}Lista de usuarios <small>Haz click en asignar rol para asignar un rol a un usuario</small>{% endblock %}

{% block botones %}
    <li>
        {% if usuario_actor.can_add_group %}
            <a href="/administracion/roles/nuevo" class="btn btn-default">Crear Rol</a>
        {% else %}
            <a class="btn btn-default" disabled="disabled">Crear Rol</a>
        {% endif %}
    </li>
    <li>
        {% if usuario_actor.can_add_group %}
            <a href="/administracion/roles/listar" class="btn btn-default">Listar Roles</a>
        {% else %}
            <a class="btn btn-default" disabled="disabled">Listar Roles</a>
        {% endif %}
    </li>
    <li>
        <a href="/administracion" class="btn btn-default">Volver</a>
    </li>
{% endblock %}

{% block contenido %}
    <table class="table table-striped" id="tablaUsuario" rel="tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Rol</th>
                <th></th>
            </tr>
        </thead>
        {% for usuario in lista_usuarios %}
           {% if usuario.accesoLiderProyecto or usuario.accesoAdministrador %}
                    {% if usuario.is_active %}
                        <tr>
                            <td>{{ usuario.username }}</td>
                            <td>Activo</td>
                            <td>
                                {% for grupo in usuario.groups.all %}
                                    {{ grupo }}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{% url "administracion.views.asignar_rol" usuario.id %}" class="btn btn-primary">Asignar Rol </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ usuario.username }}</td>
                            <td>Inactivo</td>
                            <td>{{ usuario.get_groups }}</td>
                        </tr>
                    {% endif %}
           {% endif %}
        {% empty %}
            <p>No hay usuarios registrados aun</p>
        {% endfor %}
    </table>
    {% block mensaje %}{% endblock %}
{% endblock %}
