{% extends 'administracion.html' %}
{% block titulo %}Administrar roles{% endblock %}

{% block encabezado %}Lista de roles{% endblock %}

{% block botones %}
    <li><a href="/administracion/roles/nuevo" class="btn btn-default">Crear Rol</a></li>
    <li><a href="/administracion/roles" class="btn btn-default">Listar Roles</a></li>
{% endblock %}

{% block contenido %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <td>Nombre</td>
            </tr>
        </thead>
        <tr>
        {% for rol in roles %}
            <tr class="clickableRow info" href='{% url "administracion.views.detalle_rol" rol.id %}' id="tablaRol" rel="tabla" title="Ver detalles..">
                <td>{{ rol }}</td>
        {% empty %}
            <td class="warning">No hay roles registrados aun</td>
        {% endfor %}
        </tr>
    </table>

{% endblock %}