{% extends 'administracion.html' %}
{% block titulo %}Administrar roles{% endblock %}

{% block encabezado %}Roles{% endblock %}

{% block botones %}
    <li>
        {% if usuario.can_add_group %}
            <a href="/administracion/roles/nuevo" class="btn btn-default">Crear Rol</a>
        {% else %}
            <a class="btn btn-default" disabled="disabled">Crear Rol</a>
        {% endif %}
    </li>
    <li>
        {% if usuario.can_change_user %}
            <a href="/administracion/roles/asignar" class="btn btn-default">Asignar Rol</a>
        {% else %}
            <a class="btn btn-default">Asignar Rol</a>
        {% endif %}
    </li>
{% endblock %}

{% block contenido %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <td>Nombre</td>
            </tr>
        </thead>
        <tr>
        {% for rol in roles %}
            <tr class="clickableRow" href='{% url "administracion.views.detalle_rol" rol.id %}' id="tablaRol" rel="tabla" title="Ver detalles..">
                <td>{{ rol }}</td>
        {% empty %}
            <td class="warning">No hay roles registrados aun</td>
        {% endfor %}
        </tr>
    </table>

{% endblock %}