{% extends 'rol/administrar_rol.html' %}
{% block titulo %}Detalle de Rol{% endblock %}
{% block encabezado %}{{ rol.name}}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="/administracion/roles/" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}
    <dl>
        <dt>Nombre:</dt>
        <dd>{{ rol.name }}</dd>
        <dt>Creado por:</dt>
        <dd>{{ rol.Usuario }}</dd>
        <dt>Creado el:</dt>
        <dd>{{ rol.Fecha }}</dd>
        <dt>Permisos:</dt>
        {% for permiso in lista_permisos %}
            <dd>{{ permiso.name }}</dd>
        {% endfor %}
    </dl>
{% endblock %}