{% extends 'base.html' %}
{% block titulo %}Detalle de Rol{% endblock %}
{% block encabezado %}{{ rol.name}}{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="{% url 'administracion.views.modificar_rol' rol.id %}" class="btn btn-default">Modificar Rol</a></li>
    <li><a href="{% url 'administracion.views.vista_eliminar_rol' rol.id %}" class="btn btn-default">Eliminar Rol</a></li>
    <li><a href="/administracion/roles/" class="btn btn-default">Volver</a></li>

{% endblock %}
{% block contenido %}
    <dl>
        <dt>Nombre:</dt>
        <dd>{{ rol.name }}</dd>
    </dl>
{% endblock %}