{% extends 'base.html' %}
{% block titulo %}Gestion{% endblock %}

{% block activo-admin %}
    {% if not usuario_actor.esLider %}
        hide
    {% endif %}
{% endblock %}
{% block activo-des %}
    {% if usuario_actor.esLider %}
        hide
    {% endif %}
{% endblock %}
{% block activo-gc %}
    active
{% endblock %}

{% block usuario%} {{ usuario_actor.get_username }} {% endblock %}

{% block encabezado %}Proyectos{% endblock %}

{% block botones %}
    <li>
        <a href="#" class="btn btn-default">Buscar proyecto</a>
    </li>
{% endblock %}

{% block contenido %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Lider</th>
                <th>Estado</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in lista_proyectos %}
               {% if usuario_actor == proyecto.Lider or usuario_actor in proyecto.Usuarios.all %}
                    <tr>
                        <td>{{ proyecto.Nombre }}</td>
                        <td>{{ proyecto.Lider }}</td>
                        <td>{{ proyecto.get_Estado_display }}</td>
                        {% if proyecto.get_Estado_display == "Activo" %}
                            <td class="btn-group">
                                <a href="{% url 'gestion.views.gestion_comite' proyecto.id %}" type="button" class="btn btn-success">Comite de cambio</a>
                            </td>

                            {% if usuario_actor.integraComite %}
                                <td>
                                        <a href="{% url 'gestion.views.solicitudes_view' proyecto.id %}" class="btn btn-default">Solicitudes de Cambio</a>
                                </td>
                            {% endif %}
                            {% if usuario_actor == proyecto.Lider %}
                                <td>
                                    <a href="{% url 'gestion.views.gestion_proyecto' proyecto.id %}" type="button" class="btn btn-primary">Fases</a>
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
               {% endif %}
            {% empty %}
                <p>No hay proyectos disponibles</p>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}