{% extends 'gestion_fase.html' %}
{% block titulo %}Detalle de Linea Base{% endblock %}
{% block encabezado %}Detalle de la Linea Base: {{ lineaBase.Nombre}}{% endblock %}

{%  block botones %}
    <li><a href="{% url 'gestion.views.gestion_fase' proyecto.id fase.id %}" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}
    <dl class="dl-horizontal">
        <dt>Creado por:</dt>
        <dd>{{ lineaBase.Usuario }}</dd>
        <dt>Nombre de proyecto:</dt>
        <dd>{{ fase.Proyecto.Nombre }}</dd>
        <dt>Nombre de fase:</dt>
        <dd>{{ fase.Nombre }}</dd>
    </dl>
    <div class="col-lg-4 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Items</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista_item %}
                    <tr>
                        <td><a href="{% url 'gestion.views.detalle_item_validados' proyecto.id fase.id lineaBase.id item.id %}">{{ item.Nombre  }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}