{% extends 'proyecto/rol/administrar_rol.html' %}
{% block titulo %}Modificacion de Rol{% endblock %}

{% block encabezado %}Modificacion de {{ rol.name }}
        <script type="text/javascript" src="/static/js/jsi18n.js"></script>

    {{ formulario.media }}
{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li>
        <a href="{% url 'administracion.views.listar_roles' proyecto.id %}" class="btn btn-default">Volver</a>
    </li>
{% endblock %}
{% block contenido %}
    <form id="formulario" method="post" action="">{% csrf_token %}
        <table class="table"><p>{{ formulario }}</p></table>
        <p><input class="btn btn-default" type="submit" value="Confirmar"></p>
    </form>
{% endblock %}