{% extends 'comite/gestion_comite.html' %}
{% block titulo %}Formulario Comite de Gestion de Cambio{% endblock %}

{% block encabezado %}
    Crear Comite de Gestion de Cambio
    <script type="text/javascript" src="/static/js/jsi18n.js"></script>
    {{ formulario.media }}
{% endblock %}

{% block botones %}
    <li><a href="{% url 'gestion.views.gestion_comite' id_proyecto %}" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}
    <form id="formulario" method="post" action="">{% csrf_token %}
        <table class="table">{{ formulario }}</table>
        <p><input class="btn btn-default" type="submit" value="Confirmar"></p>
    </form>
{% endblock %}