{% extends 'proyecto/administrar_proyecto.html' %}

{% block titulo %}Administracion de Fases{% endblock %}

{% block encabezado %}Fases del proyecto {{ proyecto.Nombre }} {% endblock %}

{% block activo-admin %}active{% endblock %}


{%  block botones %}
    <li>
            {% if proyecto.Lider == usuario_actor and proyecto.get_Estado_display == "Pendiente" %}
                <a href="{% url 'administracion.views.crear_fase' proyecto.id %}" class="btn btn-default">Crear Fase</a>
            {% endif %}
    </li>
    <li><a href="/administracion/proyectos/" class="btn btn-default">Volver</a></li>

{% endblock %}
{% block contenido %}
   <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Fecha de ultima modificacion</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for fase in lista_fases %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ fase.Nombre }}</td>
                    <td>{{ fase.Fecha }}</td>
                    {% if proyecto.Lider == usuario_actor and proyecto.get_Estado_display == "Pendiente" %}
                        <td>
                            <a class="btn btn-default" href="{% url 'administracion.views.ordenar_fase_subir' fase.id %}" >
                                <span class="glyphicon glyphicon-chevron-up"></span>

                            </a>
                            <a class="btn btn-default" href="{% url 'administracion.views.ordenar_fase_bajar' fase.id %}" >
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </td>
                    {% endif %}
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Opciones <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                <li><a href="{% url 'administracion.views.detalle_fase' proyecto.id fase.id %}">Detalle</a></li>
                                {% if proyecto.Lider == usuario_actor %}
                                    {% if proyecto.get_Estado_display == "Pendiente" %}
                                        <li><a href="{% url 'administracion.views.modificar_fase' proyecto.id fase.id %}">Modificar</a></li>
                                    {% endif %}
                                    {% if proyecto.get_Estado_display == "Activo" %}
                                        <li class="divider"></li>
                                        <li><a href="{% url 'administracion.views.fase_asignar_usuarios' proyecto.id fase.id %}">Usuarios</a></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Administrar <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'administracion.views.administrar_atributo' fase.Proyecto.id fase.id %}">Atributo</a></li>
                                <li><a href="{% url 'administracion.views.administrar_tipoItem' fase.Proyecto.id fase.id %}">Tipos de item</a></li>
                            </ul>
                        </div>
                    </td>
                    {% if proyecto.Lider == usuario_actor and proyecto.get_Estado_display == "Pendiente" %}
                        <td>
                            <div class="btn-group">
                                <a href="{% url 'administracion.views.confirmar_eliminar_fase' proyecto.id fase.id %}" type="button" class="btn btn-danger">Eliminar</a>
                            </div>
                        </td>
                    {% elif proyecto.Lider == usuario_actor and proyecto.get_Estado_display == "Activo" and fase.get_Estado_display == 'Pendiente'  %}
                         <td>
                            <div class="btn-group">
                                <a href="{% url 'administracion.views.confirmar_iniciar_fase' proyecto.id fase.id %}" type="button" class="btn btn-success">Iniciar</a>
                            </div>
                        </td>
                     {% elif proyecto.Lider == usuario_actor and proyecto.get_Estado_display == "Activo" and fase.get_Estado_display == 'Iniciada'  %}
                         <td>
                            <div class="btn-group">
                                <a href="{% url 'administracion.views.confirmar_finalizar_fase' proyecto.id fase.id %}" type="button" class="btn btn-success">Finalizar</a>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr class="warning">
                <td>No hay fases disponibles</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        {% block mensaje %}{% endblock %}

{% endblock %}