{% extends 'proyecto/administrar_proyecto.html' %}
{% block titulo %}Administracion de Fases{% endblock %}
{% block encabezado %}Administracion de Fases <small>Haz click en opciones para interactuar con una fase</small>{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li>
        {% if usuario_actor.can_add_fase %}
            {% if proyecto.Lider == usuario_actor %}
                <a href="{% url 'administracion.views.crear_fase' proyecto.id %}" class="btn btn-default">Crear Fase</a>
            {% endif %}
        {% else %}
            <a class="btn btn-default" disabled="disabled">Crear Fase</a>
        {% endif %}
    </li>
    <li><a href='{% url "administracion.views.detalle_proyecto" proyecto.id %}' class="btn btn-default">Volver</a></li>

{% endblock %}
{% block contenido %}
   <table class="table table-striped">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Usuario</td>
                <td>Fecha</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for fase in fases %}
                <tr>
                    <td>{{ fase.Nombre }}</td>
                    <td>{{ fase.Usuario }}</td>
                    <td>{{ fase.Fecha }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Opciones <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="'menu">
                                <li><a href="{% url 'administracion.views.detalle_fase' proyecto.id fase.id %}">Detalle</a></li>
                                <li><a href="{% url 'administracion.views.modificar_fase' proyecto.id fase.id %}">Modificar</a></li>
                                <li><a href="{% url 'administracion.views.vista_eliminar_fase' proyecto.id fase.id %}">Eliminar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <p>No hay fases disponibles</p>
            {% endfor %}
        </tbody>
    </table>
    {% block mensaje %}{% endblock %}
{% endblock %}