{% extends 'proyecto/administrar_proyecto.html' %}
{% block titulo %}Administracion de Fases{% endblock %}
{% block encabezado %}Administracion de Fases{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li>
        {% if usuario_actor.can_add_fase %}
            {% if proyecto.Lider == usuario_actor %}
                <a href="{% url 'administracion.views.crear_fase' proyecto.id %}" class="btn btn-default">Crear Fase</a>
            {% endif %}
        {% else %}
            <a class="btn btn-default" disabled="disabled">Crear Fase</a>
        {% endif %}
    </li>
    <li><a href='{% url "administracion.views.detalle_proyecto" proyecto.id %}' class="btn btn-default">Volver</a></li>

{% endblock %}
{% block contenido %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for fase in fases %}
                    <tr class="clickableRow info" href="{% url "administracion.views.detalle_fase" proyecto.id fase.id %}" id="tablaFase" rel="tabla" title="Ver detalles..">
                        <td>{{ fase.Nombre }}</td>
                        <td>{{ fase.Usuario }}</td>
                        <td>{{ fase.Fecha }}</td>
            {% empty %}
                <p>No hay fases</p>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    {% block mensaje %}{% endblock %}
{% endblock %}