{% extends 'proyecto/fase/adm-fases.html' %}
{% block titulo %}Iniciar Fase{% endblock %}
{% block encabezado %}Iniciar {{ fase.Nombre }}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="{% url 'administracion.views.administrar_fases' fase.Proyecto.id %}" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}
    <p class="alert alert-danger">{{ mensaje }}</p>
    <p>
        <a  class="btn btn-primary btn-lg" href="{% url 'administracion.views.finalizar_fase' fase.Proyecto.id fase.id %}">Si</a>
        <a class="btn btn-default btn-lg" href="{% url 'administracion.views.administrar_fases' fase.Proyecto.id %}">No</a>
    </p>
{% endblock %}