{% extends 'proyecto/fase/adm-fases.html' %}
{% block titulo %}Creacion de Fase{% endblock %}
{% block encabezado %}Creacion de Fase{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="/administracion/proyectos/fases/" class="btn btn-default">Volver</a></li>
{% endblock %}
{% block contenido %}
    <form id="formulario" method="post" action="">{% csrf_token %}
        <table class="table"><p>{{ formulario }}</p></table>
        <p><input class="btn btn-default" type="submit" value="Crear fase"></p>
    </form>
{% endblock %}
