{% extends 'proyecto/fase/adm-fases.html' %}
{% block titulo %}Detalle de Fase{% endblock %}
{% block encabezado %}{{ fase.Nombre}}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="{% url 'administracion.views.administrar_fases' proyecto.id %}" class="btn btn-default">Volver</a></li>
{% endblock %}
{% block contenido %}
    <dl>
        <dt>Creado por:</dt>
        <dd>{{ fase.Usuario }}</dd>
        <dt>Nombre:</dt>
        <dd>{{ fase.Nombre }}</dd>
        <dt>Descripcion:</dt>
        <dd>{{ fase.Descripcion }}</dd>
        <dt>Fase Numero:</dt>
        <dd>{{ fase.Numero }}</dd>
        <dt>Creado el:</dt>
        <dd>{{ fase.Fecha }}</dd>
    </dl>
{% endblock %}