{% extends 'proyecto/fase/adm-fases.html' %}
{% block titulo %}Detalle de Fase{% endblock %}
{% block encabezado %}{{ fase.Nombre}}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li>
        {% if usuario_actor.can_change_fase %}
            {% if usuario_actor == proyecto.Lider %}
                <a href="{% url 'administracion.views.modificar_fase' proyecto.id fase.id %}" class="btn btn-default">Modificar Fase</a>
            {% endif %}
        {% else %}
            <a class="btn btn-default" disabled="disabled">Modificar Fase</a>
        {% endif %}
    </li>
    <li>
        {% if usuario_actor.can_delete_fase %}
            {% if usuario_actor == proyecto.Lider %}
                <a href="{% url 'administracion.views.vista_eliminar_fase' proyecto.id fase.id %}" class="btn btn-default">Eliminar Fase</a>
            {% endif %}
        {% else %}
            <a class="btn btn-default" disabled="disabled">Eliminar Fase</a>
        {% endif %}
    </li>

    <li><a href="{% url 'administracion.views.administrar_fases' proyecto.id %}" class="btn btn-default">Volver</a></li>

{% endblock %}
{% block contenido %}
    <dl>
        <dt>Descripcion:</dt>
        <dd>{{ fase.Descripcion }}</dd>
        <dt>Creado por:</dt>
        <dd>{{ fase.Usuario }}</dd>
        <dt>Creado el:</dt>
        <dd>{{ fase.Fecha }}</dd>
    </dl>
{% endblock %}