{% extends 'proyecto/fase/adm-fases.html' %}
{% block titulo %}Modificacion de Fase{% endblock %}
{% block encabezado %}Modificacion de {{ fase.Nombre }}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="{% url 'administracion.views.detalle_fase' proyecto.id fase.id %}" class="btn btn-default">Volver</a></li>
{% endblock %}
{% block contenido %}
    <form id="formulario" method="post" action="">{% csrf_token %}
        <table class="table"><p>{{ formulario }}</p></table>
        <p><input class="btn btn-default" type="submit" value="Confirmar"></p>
    </form>
{% endblock %}