{% extends 'proyecto/des_proyecto.html' %}
{% block titulo %}Desarrollo de Fase{% endblock %}
{% block botones %}
    <li><a href="{% url 'desarrollo.views.crear_item' fase.Proyecto.id fase.id %}" class="btn btn-default">Crear Item</a></li>
    <li><a href="" class="btn btn-default">Buscar Item</a></li>
    <li><a href="" class="btn btn-default">Revivir Item</a></li>
    <li><a href="{% url 'desarrollo.views.des_proyecto' fase.Proyecto.id %}" class="btn btn-default">Volver</a> </li>
{% endblock %}

{% block encabezado %}Detalles de la fase: {{ fase.Nombre }}{% endblock %}

{% block contenido %}
    <dl>
        <dt>Nombre de la fase: </dt>
        <dd>{{ fase.Nombre }}</dd>
        <dt>Descripcion de la fase: </dt>
        <dd>{{ fase.Descripcion }}</dd>
        <dt>Creado por: </dt>
        <dd>{{ fase.Usuario }}</dd>
        <dt>Creado el: </dt>
        <dd>{{ fase.Fecha }}</dd>
        <dt>Lista de items: </dt>
        <dd>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Usuario</td>
                        <td>Fecha</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in lista_items %}
                        <tr>
                            <td>{{ item.Nombre }}</td>
                            <td>{{ item.Usuario }}</td>
                            <td>{{ item.Fecha }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Opciones <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu" role="'menu">
                                        <li><a href="#">Desarrollo</a></li>
                                        <li><a href="#">Acción #2</a></li>
                                        <li><a href="#">Acción #3</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <p>No hay items disponibles</p>
                    {% endfor %}
                </tbody>
            </table>
        </dd>

    </dl>
{% endblock %}