{% extends 'administracion.html' %}

{% block titulo %}Administrar Usuarios{% endblock %}

{% block encabezado %}Usuarios{% endblock %}

{% block botones %}
    <li>
        {% if usuario_actor.puede_agregar_usuarios %}
            <a href="/administracion/usuarios/nuevo" class="btn btn-default">Crear Usuario</a>
        {% endif %}
    </li>
    <li><a href="/administracion" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}

    {% if usuario_actor.puede_modificar_usuarios %}
          <table class="table" id="tablaUsuario" rel="tabla">
                 <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th></th>
                            <th></th>
                        </tr>
                 </thead>
                 <tbody>
                        {% if lista_usuarios.count == 1 %}
                              <tr class="warning">
                                  <td>No hay usuarios disponibles</td><td></td><td></td><td></td>
                              </tr>
                        {% else %}
                                {% for usuario in lista_usuarios %}
                                       {% if usuario_actor != usuario %}
                                             {% if usuario.is_active %}
                                                   <tr class="active">
                                                       <td>{{ usuario.username }}</td>
                                                       <td>Activo</td>
                                                       <td>
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                                                    Opciones <span class="caret"></span>
                                                                </button>

                                                                <ul class="dropdown-menu">
                                                                    <li><a href="{% url 'administracion.views.detalle_usuario' usuario.id %}">Ver detalles</a></li>
                                                                    <li><a href="{% url 'administracion.views.pass_change' usuario.id %}">Modificar</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger" href="{% url 'administracion.views.cambioEstado_usuario_form' usuario.id %}">Bloquear</a></li>
                                                        </td>
                                                    </tr>
                                             {% else %}
                                                        <tr class="danger">
                                                            <td>{{ usuario.username }}</td>
                                                            <td>Inactivo</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                                        Opciones <span class="caret"></span>
                                                                    </button>

                                                                    <ul class="dropdown-menu">
                                                                        <li><a href="{% url 'administracion.views.detalle_usuario' usuario.id %}">Ver detalles</a></li>
                                                                        <li><a href="{% url 'administracion.views.pass_change' usuario.id %}">Modificar</a></li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-success" href="{% url 'administracion.views.cambioEstado_usuario_form' usuario.id %}">Desbloquear</a></li>
                                                            </td>
                                                        </tr>
                                             {% endif %}
                                       {% endif %}
                                {% endfor %}
                        {% endif %}
                 </tbody>
          </table>
    {% else %}
        <div class="alert alert-danger">No tienes permiso para ver este contenido</div>
    {% endif %}
    {% block mensaje %}{% endblock %}
{% endblock %}