{% extends 'administracion.html' %}
{% block titulo %}Administrar Usuarios{% endblock %}

{% block botones %}
    <li>
        {% if usuario.can_add_user %}
            <a href="/administracion/usuarios/nuevo" class="btn btn-default">Crear Usuario</a>
        {% else %}
            <a class="btn btn-default" disabled = "disabled">Crear Usuario</a>
        {% endif %}
    </li>
    <li>
        {% if usuario.can_change_user %}
            <a href="/administracion/usuarios/modificar" class="btn btn-default">Modificar Usuario</a>
        {% else %}
            <a class="btn btn-default" disabled="disabled">Modificar Usuario</a>
        {% endif %}
    </li>
    <li>
        {% if usuario.can_change_user %}
            <a href="/administracion/usuarios/estado" class="btn btn-default">Cambio de estado de Usuario</a>
        {% else %}
            <a class="btn btn-default" disabled="disabled">Cambio de estado de Usuario</a>
        {% endif %}
    </li>
    <li><a href="/administracion/usuarios" class="btn btn-default">Listar Usuarios</a></li>

{% endblock %}
