{% extends 'administracion.html' %}
{% block titulo %}Administrar Usuarios{% endblock %}
{% block encabezado %}Lista de Usuarios <small>Haz click en opciones para interactuar con un usuario</small>{% endblock %}
{% block botones %}
    <li>
        {% if usuario_actor.can_add_user %}
            <a href="/administracion/usuarios/nuevo" class="btn btn-default">Crear Usuario</a>
        {% else %}
            <a class="btn btn-default" disabled = "disabled">Crear Usuario</a>
        {% endif %}
    </li>
    <li><a href="../" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}

    {% if usuario_actor.can_consultar_usuario %}
        <table class="table table-condensed table-hover" id="tablaUsuario" rel="tabla" title="Ver detalles..">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Estado</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            {% for usuario in lista_usuarios %}
              {% if usuario_actor != usuario %}
                {% if usuario.is_active %}
                    <tr>
                        <td>{{ usuario.username }}</td>
                        <td>Activo</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Opciones <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu" role="'menu">
                                    <li><a href="{% url 'administracion.views.detalle_usuario' usuario.id %}">Detalle</a></li>
                                    <li><a href="{% url 'administracion.views.modificar_usuario' usuario.id %}">Modificar</a></li>
                                    <li><a href="{% url 'administracion.views.cambioEstado_usuario_form' usuario.id %}">Cambio de estado</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ usuario.username }}</td>
                        <td>Inactivo</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Opciones <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu" role="'menu">
                                    <li><a href="{% url 'administracion.views.detalle_usuario' usuario.id %}">Detalle</a></li>
                                    <li><a href="#">Modificar</a></li>
                                    {% if usuario_actor.can_change_user and usuario_actor.id != usuario_parametro.id %}
                                        <li><a href="{% url 'administracion.views.cambioEstado_usuario_form' usuario.id %}">Cambio de estado</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endif %}
              {% endif %}
            {% empty %}
                <tr class="warning">
                <td>No hay usuarios disponibles</td><td></td><td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">No tienes permiso para ver este contenido</div>
    {% endif %}
{% endblock %}