{% extends 'usuario/administrar_usuario.html' %}
{% block titulo %}Eliminar usuario{% endblock %}
{% block usuario %}{{ usuario_admin.get_full_name }}{% endblock %}

{% block encabezado %}Seleccione el usuario cuyo estado desea cambiar {% endblock %}


{% block contenido %}
    <table class="table table-condensed table-hover" id="tablaUsuarioCambiarEstado" rel="tabla" title="Ver detalles..">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Estado</td>
            </tr>
        </thead>
        {% for usuario in lista_usuarios %}
            {% if usuario.id != usuarioActor.id %}
                {% if usuario.is_active %}
                    <tr class="clickableRow info" href='{% url "administracion.views.cambioEstado_usuario_form" usuario.id %}'>
                        <td>{{ usuario.username }}</td>
                        <td>Activo</td>
                    </tr>
                {% else %}
                    <tr class="clickableRow warning" href='{% url "administracion.views.cambioEstado_usuario_form" usuario.id %}'>
                        <td>{{ usuario.username }}</td>
                        <td>Inactivo</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% empty %}
            <p>No hay usuarios registrados aun</p>
        {% endfor %}
    </table>
{% endblock %}