{% extends 'usuario/administrar_usuario.html' %}
{% block titulo %}Detalle usuario{% endblock %}
{% block usuario %}{{ usuario_admin.get_full_name }}{% endblock %}

{% block encabezado %}Vista en detalle del usuario {{ usuario_admin.username }}{% endblock %}
{% block botones %}
      <li>
        {% if usuario_admin.can_change_user %}
            <a href="{% url 'administracion.views.cambioEstado_usuario_form' usuarioDetalle.id %}" class="btn btn-default">Cambio de estado de Usuario</a>
        {% else %}
            <a class="btn btn-default" disabled="disabled">Cambio de estado de Usuario</a>
        {% endif %}
    </li>
{% endblock %}


{% block contenido %}
    <dl>
        <dt>Nombre</dt>
        <dd>{{ usuarioDetalle.first_name }}</dd>

        <dt>Apellido</dt>
        <dd>{{ usuarioDetalle.last_name }}</dd>

        <dt>Direccion de correo electronico</dt>
        <dd>{{ usuarioDetalle.email }}</dd>

        <dt>Numero de telefono</dt>
        <dd>{{ usuarioDetalle.telefono }}</dd>

        <dt>Direccion</dt>
        <dd>{{ usuarioDetalle.direccion }}</dd>

        <dt>Observacion</dt>
        <dd>{{ usuarioDetalle.observacion }}</dd>

        <dt>Registrado</dt>
        <dd>{{ usuarioDetalle.date_joined|date:'SHORT_DATETIME_FORMAT' }}</dd>

    </dl>
    <a href="/administracion" class="btn btn-default">Volver</a>

{% endblock %}