{% extends 'usuario/administrar_usuario.html' %}
{% block titulo %}Detalle usuario{% endblock %}

{% block encabezado %}Vista detalle del usuario {{ usuario_parametro.username }}{% endblock %}
{% block botones %}
    <li><a href="/administracion/usuarios" class="btn btn-default">Volver</a></li>
{% endblock %}


{% block contenido %}
    <dl class="dl-horizontal">
        <dt>Nombre</dt>
        <dd>{{ usuario_parametro.first_name }}</dd>
        <dt>Apellido</dt>
        <dd>{{ usuario_parametro.last_name }}</dd>
        <dt>Direccion de correo electronico</dt>
        <dd>{{ usuario_parametro.email }}</dd>
        <dt>Numero de telefono</dt>
        <dd>{{ usuario_parametro.telefono }}</dd>
        <dt>Direccion</dt>
        <dd>{{ usuario_parametro.direccion }}</dd>
        <dt>Observacion</dt>
        <dd>{{ usuario_parametro.observacion }}</dd>
        <dt>Registrado</dt>
        <dd>{{ usuario_parametro.date_joined|date:'SHORT_DATETIME_FORMAT' }}</dd>

    </dl>

{% endblock %}