{% extends 'usuario/administrar_usuario.html' %}
{% block titulo %}Detalle usuario{% endblock %}

{% block encabezado %}Vista en detalle del usuario {{ usuario_admin.username }}{% endblock %}
{% block botones %}
      <li>
        {% if usuario_admin.can_change_user %}
            <a href="{% url 'administracion.views.cambioEstado_usuario_form' usuarioDetalle.id %}" class="btn btn-default">Cambio de estado de Usuario</a>
        {% else %}
            <a class="btn btn-default" disabled="disabled">Cambio de estado de Usuario</a>
        {% endif %}
    </li>
{% endblock %}


{% block contenido %}
    <div id='first_name'>
        <h4>Nombre</h4>
        <p>{{ usuarioDetalle.first_name }}</p>
    </div>
    <div id='last_name'>
        <h4>Apellido</h4>
        <p>{{ usuarioDetalle.last_name }}</p>
    </div>
    <div id='email'>
        <h4>Direccion de correo electronico</h4>
        <p>{{ usuarioDetalle.email }}</p>
    </div>
    <div id="telefono">
        <h4>Numero de telefono</h4>
        <p>{{ usuarioDetalle.telefono }}</p>
    </div>
     <div id="direccion">
        <h4>Direccion</h4>
        <p>{{ usuarioDetalle.direccion }}</p>
    </div>
    <div id="observacion">
        <h4>Observacion</h4>
        <p>{{ usuarioDetalle.observacion }}</p>
    </div>
    <footer>
        <p>Registrado {{ usuarioDetalle.date_joined|date:'SHORT_DATETIME_FORMAT' }}</p>
    </footer>
    <p><a href="/administracion" class="btn btn-default">Volver</a></p>

{% endblock %}