{% extends 'usuario/administrar_usuario.html' %}
{% block titulo %}form usuario{% endblock %}

{% block encabezado %}{{ mensaje }} {{ usuario_admin.username }}{% endblock %}

{% block botones %}
    <li>
            <a href="/administracion/usuarios" class="btn btn-default">Volver</a>
    </li>
{% endblock %}
{% block contenido %}
    <form id="formulario" method="post" action="">{% csrf_token %}
        <table class="table"><p>{{ formulario }}{{ form }}</p></table>
        <p><input class="btn btn-default" type="submit" value="Confirmar"></p>
    </form>
{% endblock %}