{% extends 'base.html' %}
{% block titulo %}Administracion{% endblock %}

{% block activo-admin %}active{% endblock %}

{% block encabezado %}Lista de Usuarios{% endblock %}

{% block botones %}
    <li>
        {% if usuarioAdm.can_administrar_proyecto %}
            <a href="/administracion/proyectos" class="btn btn-default">Administrar Proyecto</a>
        {% else %}
            <a class="btn btn-default" disabled = "disabled">Administrar Proyecto</a>
        {% endif %}
    </li>
    <li>
        {% if usuarioAdm.can_administrar_usuario %}
            <a href="/administracion/usuarios" class="btn btn-default">Administrar Usuario</a>
        {% else %}
            <a class="btn btn-default" disabled = "disabled">Administrar Usuario</a>
        {% endif %}
    </li>
    <li>
        {% if usuarioAdm.can_administrar_rol %}
            <a href="/administracion/roles" class="btn btn-default">Administrar Roles</a>
        {% else %}
            <a class="btn btn-default" disabled = "disabled">Administrar Roles</a>
        {% endif %}
    </li>
    <li>
        <a href="#" class="btn btn-default" disabled = "disabled">Administrar Credenciales</a>
    </li>
{% endblock %}

{% block contenido %}
    <table class="table table-condensed table-hover" id="tablaUsuario" rel="tabla" title="Ver detalles..">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Estado</td>
            </tr>
        </thead>
        {% for usuario in lista_usuarios %}
            {% if usuario.is_active %}
                <tr class="clickableRow info" href='{% url "administracion.views.detalle_usuario" usuario.id %}'>
                    <td>{{ usuario.username }}</td>
                    <td>Activo</td>
                </tr>
            {% else %}
                <tr class="clickableRow warning" href='{% url "administracion.views.detalle_usuario" usuario.id %}'>
                    <td>{{ usuario.username }}</td>
                    <td>Inactivo</td>
                </tr>
            {% endif %}
        {% empty %}
            <p>No hay usuarios registrados aun</p>
        {% endfor %}
    </table>
{% endblock %}