{% extends 'base.html' %}
{% block titulo %}Administracion{% endblock %}
{% block activo-admin %}
    active
{% endblock %}
{% block activo-des %}
    {% if not usuario_actor.accesoLiderProyecto %}
        hide
    {% endif %}
{% endblock %}
{% block activo-gc %}
    {% if not usuario_actor.accesoLiderProyecto %}
        hide
    {% endif %}
{% endblock %}
{% block usuario%} {{ usuario_actor.get_username }} {% endblock %}
{% block encabezado %}Lista de Usuarios <small>Haz click en el usuario para mas detalles</small>
{% endblock %}

{% block botones %}
    <li>
        {% if usuario_actor.can_consultar_proyecto or usuario_actor.can_consultar_fase %}
            <a href="/administracion/proyectos" class="btn btn-default">Administrar Proyecto</a>
        {% else %}
            <a class="btn btn-default" disabled = "disabled">Administrar Proyecto</a>
        {% endif %}
    </li>
    <li>
        {% if usuario_actor.can_consultar_usuario %}
            <a href="/administracion/usuarios" class="btn btn-default">Administrar Usuario</a>
        {% else %}
            <a class="btn btn-default" disabled="disabled">Administrar Usuario</a>
        {% endif %}
    </li>
    <li>
        {% if usuario_actor.can_consultar_rol %}
            <a href="/administracion/roles" class="btn btn-default">Administrar Roles</a>
        {% else %}
            <a class="btn btn-default" disabled = "disabled">Administrar Roles</a>
        {% endif %}
    </li>
    <li>
        {% if usuario_actor.can_administrar_proyecto %}
            <a href="/administracion/credenciales" class="btn btn-default">Administrar Credenciales</a>
        {% else %}
            <a class="btn btn-default" disabled = "disabled">Administrar Credenciales</a>
        {% endif %}
    </li>

{% endblock %}
{% block contenido %}
    {% if usuario_actor.can_consultar_usuario %}
        <table class="table table-condensed table-hover" id="tablaUsuario" rel="tabla" title="Ver detalles..">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Estado</td>
                </tr>
            </thead>
            <tbody>
                {% for usuario in lista_usuarios %}
                    {% if usuario.is_active %}
                            <tr id=forloop.counter>
                                <td>{{ usuario.username }}</td>
                                <td>Activo</td>
                            </tr>
                    {% else %}
                        <tr>
                            <td>{{ usuario.username }}</td>
                            <td>Inactivo</td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <p>No hay usuarios registrados aun</p>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">No tienes permiso para ver este contenido</div>
    {% endif %}
{% endblock %}