{% extends 'base.html' %}
{% block titulo %}Crear nuevo proyecto{% endblock %}

{% block encabezado %}Creacion de un nuevo proyecto{% endblock %}

{% block botones %}
    <li><a href="/nuevoProyecto" class="btn btn-default active">Crear Proyecto</a></li>
    <li><a href="/listaProyecto" class="btn btn-default">Listar Proyectos</a></li>
{% endblock %}

{% block contenido %}
    <form id="formulario" method="post" action="">{% csrf_token %}
        <table class="table"><p>{{ formulario }}</p></table>
        <p><input class="btn btn-default" type="submit" value="Confirmar"></p>
    </form>
{% endblock %}