{% extends 'desarrollo.html' %}
{% block titulo %}Desarrollo de Proyecto{% endblock %}
{% block botones %}
    <li><a href="{% url 'desarrollo.views.desarrollo' %}" class="btn btn-default">Volver</a> </li>
{% endblock %}

{% block encabezado %}Fases del proyecto: {{ proyecto.Nombre }} {% endblock %}

{% block contenido %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Estado</td>
                <td>Fecha</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for fase in lista_fases %}
                <tr>
                    <td>{{ fase.Nombre }}</td>
                    <td>{{ fase.get_Estado_display }}</td>
                    <td>{{ fase.Fecha }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'desarrollo.views.detalle_fase' proyecto.id fase.id %}" type="button" class="btn btn-default">Detalle</a>
                        </div>
                    </td>
                <td>
                    {% if usuario_actor in fase.Usuarios.all and fase.get_Estado_display != 'Pendiente'%}
                        <a href="{% url 'desarrollo.views.des_fase' proyecto.id fase.id %}" type="button" class="btn btn-success">Desarrollar</a>
                    {% endif %}
                </td>
                </tr>
            {% empty %}
                <p>No hay fases disponibles</p>
            {% endfor %}
        </tbody>
    </table>
    {% if lista_items %}
        <h3>Grafo del proyecto: <i>{{ proyecto.Nombre }}</i></h3>
        <a title="Haz click para ver la imagen en su tamano original" target="_blank" href="{{ STATIC_URL }}media/grafoProyectoActual.png"><img src="{{ STATIC_URL }}media/grafoProyectoActual.png" class="img-responsive"></a>
    {% endif %}
{% endblock %}