{% extends 'des_proyecto.html' %}
{% block titulo %}Desarrollo de Fase{% endblock %}
{% block botones %}
    <li><a href="{% url 'desarrollo.views.crear_item' fase.Proyecto.id fase.id %}" class="btn btn-default">Crear Item</a></li>
    <li><a href="{% url 'desarrollo.views.revivir_item' fase.Proyecto.id fase.id %}" class="btn btn-default">Revivir Item</a></li>
    {% if comite != False and validados != False %}
        <li><a href="{% url 'desarrollo.views.solicitudes_de_cambio_view' fase.Proyecto.id fase.id %}" class="btn btn-default" type="button">Solicitudes de Cambio</a></li>
    {% endif %}
    <li><a href="{% url 'desarrollo.views.des_proyecto' fase.Proyecto.id %}" class="btn btn-default">Volver</a> </li>
{% endblock %}

{% block encabezado %}Lista de items de la fase: {{ fase.Nombre }}{% endblock %}

{% block contenido %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista_items %}
                {% if item.Estado == 'FIN' %}
                    <tr class="success">
                {% else %}
                    <tr>
                {% endif %}
                    <td>{{ item.Nombre }}</td>
                    <td><b><i>{{ item.get_Estado_display }}</i></b></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                                Opciones <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'desarrollo.views.detalle_item_vista' fase.Proyecto.id fase.id item.id %}">Detalle</a></li>
                                {% if item.Estado != 'VAL' and item.Estado != 'FIN' %}
                                    <li><a href="{% url 'desarrollo.views.mod_item' fase.Proyecto.id fase.id item.id %}">Modificar</a></li>
                                    <li><a href="{% url 'desarrollo.views.impacto_view' fase.Proyecto.id fase.id item.id %}">Calcular Impacto</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                    <td>
                        {% if item.Estado == 'CON' %}
                            <a class="btn btn-success btn-sm" href="{% url 'desarrollo.views.aprobar_item_view' fase.Proyecto.id fase.id item.id %}">Aprobar</a>
                        {% elif item.Estado == 'FIN' %}
                            <a class="btn btn-warning btn-sm" href="{% url 'desarrollo.views.desaprobar_view' fase.Proyecto.id fase.id item.id %}">Desaprobar</a>
                        {% endif %}

                    </td>
                    <td>
                        {% if item.Estado != 'VAL' and item.Estado != 'FIN' %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">
                                    Gestionar <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu" role="'menu">
                                    <li><a href="{% url 'desarrollo.views.completar_item' fase.Proyecto.id fase.id item.id %}">Atributos</a></li>
                                    <li><a href="{% url 'desarrollo.views.gestion_relacion_view' fase.Proyecto.id fase.id item.id %}">Relaciones</a></li>
                                    <li><a href="{% url 'desarrollo.views.gestion_archivos_view' fase.Proyecto.id fase.id item.id %}">Archivos</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                            <a href="{% url 'desarrollo.views.historial_item' fase.Proyecto.id fase.id item.id %}" type="button" class="btn btn-info btn-sm">Historial</a>

                    </td>
                    <td>
                        {% if item.Estado != 'VAL' and item.Estado != 'FIN' %}
                            <a href="{% url 'desarrollo.views.conf_eliminar_item' fase.Proyecto.id fase.id item.id %}" type="button" class="btn btn-danger btn-sm">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr class="warning">
                <td>No hay items disponibles</td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% block mensaje %}
        {% if suceso == True %}
            <div class="alert alert-success">{{ mensaje }}</div>
        {% elif suceso == False %}
            <div class="alert alert-danger">{{ mensaje }}</div>
        {% endif %}
    {% endblock mensaje %}
    {% if lista_items %}
        <h3>Grafo de la fase:  <i>{{ fase.Nombre }}</i></h3>
        <a title="Haz click para ver la imagen en su tamano original" target="_blank" href="/static/media/grafoFaseActual.png"><img src="/static/media/grafoFaseActual.png" class="img-responsive" alt=""></a>
    {% endif %}
{% endblock %}