{% extends 'desarrollo.html' %}
{% block titulo %}Detalle de Proyecto{% endblock %}
{% block encabezado %}Detalle del proyecto: {{ proyecto.Nombre}}{% endblock %}

{%  block botones %}
    <li><a href="/desarrollo" class="btn btn-default">Volver</a></li>
{% endblock %}
{% block contenido %}
    <dl class="dl-horizontal">
        <dt>Creado por:</dt>
        <dd>{{ proyecto.Usuario }}</dd>
        <dt>Descripcion:</dt>
        <dd>{{ proyecto.Descripcion }}</dd>
        <dt>Liderado por:</dt>
        <dd>{{ proyecto.Lider }}</dd>
        <dt>Creado el:</dt>
        <dd>{{ proyecto.Fecha }}</dd>
        <dt>Inicia el:</dt>
        <dd>{{ proyecto.Fecha_inicio }}</dd>
        <dt>Finaliza el:</dt>
        <dd>{{ proyecto.Fecha_finalizacion }}</dd>
        <dt>Estado:</dt>
        <dd>{{ proyecto.get_Estado_display}}</dd>
        <dt>Cantidad de fases:</dt>
        <dd>{{ proyecto.nFases }}</dd>
    </dl>
{% endblock %}