{% extends 'des_proyecto.html' %}
{% block titulo %}Desarrollo de Fase{% endblock %}
{% block botones %}
   <li><a href="{% url 'desarrollo.views.solicitud_crear_view' fase.Proyecto.id fase.id %}" class="btn btn-default" type="button">Crear Solicitud</a></li>
   <li><a href="{% url 'desarrollo.views.des_fase' fase.Proyecto.id fase.id %}" type="button" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block encabezado %}Mis solicitudes{% endblock %}

{% block contenido %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
                 <td>{{ solicitud.nombre }}</td>
                 <td>{{ solicitud.get_estado_display }}</td>
                 <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                                Opciones <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'desarrollo.views.detalle_solicitud' fase.Proyecto.id fase.id solicitud.id %}">Detalle</a></li>
                            </ul>
                        </div>
                 </td>
            {% empty %}
                <td>No hay solicitudes de cambio disponebles</td>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}