{% extends 'des_fase.html' %}
{% block titulo %}Solicitud de Cambio{% endblock %}
{% block botones %}
        <li><a href="{% url 'desarrollo.views.solicitudes_de_cambio_view' fase.Proyecto.id fase.id %}" class="btn btn-default" type="button">Volver</a></li>
{% endblock %}
{% block encabezado %}
    Solicitar cambio
    <script type="text/javascript" src="/static/js/jsi18n.js"></script>
    {{ formulario.media }}
{% endblock %}
{% block contenido %}
    <form id="formulario" method="post" action="">{% csrf_token %}
        <table class="table">{{ formulario }}</table>
        <p><input class="btn btn-default" type="submit" value="Confirmar"></p>
    </form>
{% endblock %}