{% extends 'proyecto/fase/des_fase.html' %}
{% block titulo %}Calculo de Impacto{% endblock %}
{% block botones %}
    <li><a href="{% url 'desarrollo.views.des_fase' fase.Proyecto.id fase.id %}" class="btn btn-default">Volver</a></li>
{% endblock %}
{% block encabezado %}Impacto del item: {{ item.Nombre }}{% endblock %}
{% block contenido %}
    <p>Costo Monetario hacia atras: {{ costo_monetario_atras }}</p>
    <p>Costo Monetario hacia adelante: {{ costo_monetario_adelante }}</p>
    <p>Costo Temporal hacia atras: {{ costo_temporal_atras }}</p>
    <p>Cossto Temporal hacia adelante: {{ costo_temporal_adelante }}</p>
{% endblock %}