{% extends 'administracion.html' %}
{% block titulo %}Administrar Tipo de Item{% endblock %}
{% block encabezado %}Tipos de items de la fase {{ fase.Nombre }} <small>Haz click en opciones para interactuar con un tipo de item</small>{% endblock %}

{% block botones %}
    <li>
           {% if proyecto.Lider == usuario_actor %}
                <a href="{% url 'administracion.views.crear_tipoItem' proyecto.id fase.id %}" class="btn btn-default">Crear tipo de item</a>
                <a href="{% url 'administracion.views.importar_tipo' proyecto.id fase.id %}" class="btn btn-default">Importar tipo de item</a>
            {% endif %}
        <a href="{% url 'administracion.views.administrar_fases' proyecto.id %}" class="btn btn-default">Volver</a>
    </li>
{% endblock %}
{% block contenido %}

<table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Fecha de ultima modificacion</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tipo in lista_tipos %}
                <tr>
                    <td>{{ tipo.Nombre }}</td>
                    <td>{{ tipo.Usuario }}</td>
                    <td>{{ tipo.Fecha }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                Opciones <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="'menu">
                                <li><a href="{% url 'administracion.views.detalle_tipoItem' proyecto.id fase.id tipo.id %}">Detalle</a></li>
                                <li><a href="{% url 'administracion.views.modificar_tipo' proyecto.id fase.id tipo.id %}">Modificar</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'administracion.views.confirmar_eliminar_tipo' proyecto.id fase.id tipo.id %}" type="button" class="btn btn-danger">Eliminar</a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr class="warning">
                    <td>No hay tipos de items disponibles</td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% block mensaje %}{% endblock %}
{% endblock %}

