{% extends 'solicitud/solicitudes.html' %}
{% block titulo %}Crear Credencial{% endblock %}
{% block botones %}
    <li><a class="btn btn-default" href="{% url 'gestion.views.solicitudes_view' proyecto.id %}">Volver</a></li>
{% endblock %}
{% block encabezado%}
    Crear Credencial
    <script type="text/javascript" src="/static/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.js"></script>
    <script type="text/javascript" src="/static/js/jsi18n.js"></script>

    <script>
    $(document).ready(function() {
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
        $('.datepicker').datepicker({
          onRender: function(date) {
            return date.valueOf() < now.valueOf() ? 'disabled' : '';
          }
        });
    });
    </script>
    {{ formulario.media }}
    {{ formulario.media }}
{% endblock %}
{% block contenido %}
    <dl class="dl-horizontal">
        <dt>Nombre:</dt>
        <dd>{{ solicitud.nombre }}</dd>
        <dt>Creado por:</dt>
        <dd>{{ solicitud.usuario }}</dd>
        <dt>Fase:</dt>
        <dd>{{ solicitud.fase }}</dd>
        <dt>Proyecto</dt>
        <dd>{{ solicitud.proyecto }}</dd>
        <dt>Motivo:</dt>
        <dd>{{ solicitud.motivo }}</dd>
        <dt>Fecha:</dt>
        <dd>{{ solicitud.fecha }}</dd>
        <dt>Estado:</dt>
        <dd>{{ solicitud.get_estado_display }}</dd>
    </dl>
    <div class="col-lg-4 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Items</th>
                </tr>
            </thead>
            <tbody>
                {% for item in solicitud.items.all %}
                    <tr>
                        <td>{{ item }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form id="formulario" method="post" action="">{% csrf_token %}
        <table class="table">{{ formulario }}</table>
        <p><input class="btn btn-default" type="submit" value="Confirmar"></p>
    </form>
{% endblock %}