{% extends 'proyecto/administrar_proyecto.html' %}
{% block titulo %}Detalle de atribto{% endblock %}
{% block encabezado %}Vista detalle del tipo de item {{ tipo.Nombre}}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="{% url 'administracion.views.administrar_tipoItem' proyecto.id %}" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}
    <dl>
        <dt>Nombre:</dt>
        <dd>{{ tipo.Nombre }}</dd>
        <dt>Creado por:</dt>
        <dd>{{ tipo.Usuario }}</dd>
        <dt>Proyecto:</dt>
        <dd>{{ tipo.Proyecto }}</dd>
        <dt>Atributos:</dt>
        <dd>{{ tipo.Atributos }}</dd>
    </dl>
{% endblock %}