{% extends 'des_fase.html' %}
{% block titulo %}Gestionar relaciones{% endblock %}

{% block botones %}
    <li><a href="{% url 'desarrollo.views.asignar_padre_view' fase.Proyecto.id fase.id item.id %}" class="btn btn-default">Asignar padre</a></li>
    {% if fase.Numero != 1 %}
        <li><a href="{% url 'desarrollo.views.asignar_antecesor_view' fase.Proyecto.id fase.id item.id %}" class="btn btn-default">Asignar antecesor</a></li>
    {% endif %}

    {% if relacion.padre != None or relacion.antecesor != None %}
        <li><a href="{% url 'desarrollo.views.eliminar_relacion_view' fase.Proyecto.id fase.id item.id %}" type="button" class="btn btn-default">Eliminar Relacion</a></li>
    {% endif %}
    <li><a href="{% url 'desarrollo.views.des_fase' fase.Proyecto.id fase.id %}" class="btn btn-default">Volver</a></li>

{% endblock %}
{% block encabezado %}Relaciones del item: {{ item.Nombre }}{% endblock %}

{% block contenido %}
    <dl class="dl-horizontal">
        <dt>Tipo de Relacion:</dt>

            {% if relacion.padre != None %}
                <dd>Hijo</dd>
                <dt>Item Padre:</dt>
                <dd>{{ relacion.padre.Nombre }}</dd>
                <dt>Fase del Padre:</dt>
                <dd>{{ relacion.padre.Fase }}</dd>
                <dt>Proyecto:</dt>
                <dd>{{ relacion.padre.Fase.Proyecto }}</dd>
            {% elif relacion.antecesor != None %}
                <dd>Sucesor</dd>
                <dt>Item Antecesor:</dt>
                <dd>{{ relacion.antecesor.Nombre }}</dd>
                <dt>Fase del Antecesor:</dt>
                <dd>{{ relacion.antecesor.Fase }}</dd>
                <dt>Proyecto:</dt>
                <dd>{{ relacion.antecesor.Fase.Proyecto }}</dd>
            {% else %}
                <dd>El item no posee padre ni antecesor</dd>
            {% endif %}

    </dl>

    <div class="col-lg-4 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Hijos</th>
                </tr>
            </thead>
            <tbody>
                {% for a in hijos %}
                    <tr>
                        <td>{{ a.item }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>No posee hijos</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
`
    <div class="col-lg-4 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sucesores</th>
                </tr>
            </thead>
            <tbody>
                {% for a in sucesores %}
                    <tr>
                        <td>{{ a.item }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>No posee sucesores</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-12">
    {% block mensaje %}
        {% if suceso == True %}
            <div class="alert alert-success">{{ mensaje }}</div>
        {% elif suceso == False %}
            <div class="alert alert-danger pull-left">{{ mensaje }}</div>
        {% endif %}
    {% endblock mensaje %}
    </div>
{% endblock %}