{% extends 'administracion.html' %}
{% block titulo %}Administrar proyecto{% endblock %}

{% block encabezado %}Lista de proyectos{% endblock %}

{% block botones %}
    <li><a href="/administracion/proyectos/nuevo" class="btn btn-default">Crear Proyecto</a></li>
    <li><a href="/administracion/proyectos" class="btn btn-default">Listar Proyectos</a></li>
    <li><a href="/administracion/proyectos/fases" class="btn btn-default">Administracion de Fases</a></li>
{% endblock %}

{% block contenido %}
    <table class="table table-condensed table-hover">
        <tr>
            <td>Nombre</td>
        </tr>
        <tr>
        {% for proyecto in lista_proyectos %}
            <td class="info">{{ proyecto }}</td>
        {% empty %}
            <td class="warning">No hay proyectos registrados aun</td>
        {% endfor %}
        </tr>
    </table>

{% endblock %}