{% extends 'administracion.html' %}
{% block titulo %}Administrar proyecto{% endblock %}
{% block encabezado %}Lista de proyectos <small>Haz click en un proyecto para mas detalles</small>{% endblock %}

{% block botones %}
    <li>
        {% if usuario_actor.can_add_proyecto %}
            <a href="/administracion/proyectos/nuevo" class="btn btn-default">Crear Proyecto</a>
        {% else %}
            <a class="btn btn-default" disabled="disabled">Crear Proyecto</a>
        {% endif %}
        <a href="/administracion" class="btn btn-default">Volver</a>
    </li>
{% endblock %}

{% block contenido %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <td>Nombre del Proyecto</td>
                <td>Lider de Proyecto</td>
            </tr>
        </thead>
        <tr>
        {% for proyecto in lista_proyectos %}
            <tr class="clickableRow info" href='{% url "administracion.views.detalle_proyecto" proyecto.id %}' id="tablaProyecto" rel="tabla" title="Ver detalles..">
            <td>{{ proyecto.Nombre }}</td>
            <td>{{ proyecto.Lider }}</td>
        {% empty %}
            <td class="warning">No hay proyectos registrados aun</td>
        {% endfor %}
        </tr>
    </table>
{% endblock %}