{% extends 'proyecto/administrar_proyecto.html' %}
{% block titulo %}Eliminar Proyecto{% endblock %}
{% block encabezado %}Eliminar {{ proyecto.Nombre }}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="/administracion/proyectos/" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}
    <p class="alert alert-danger">Esta seguro que desea eliminar el proyecto {{ proyecto.Nombre }}? Este cambio no podra
    deshacerse</p>
    <p>
        <a  class="btn btn-primary btn-lg" href="{% url 'administracion.views.eliminar_proyecto' proyecto.id %}">Si</a>
        <a class="btn btn-default btn-lg" href="/administracion/proyectos/">No</a>
    </p>
{% endblock %}