{% extends 'proyecto/administrar_proyecto.html' %}
{% block titulo %}Crear nuevo proyecto{% endblock %}

{% block encabezado %}{{ mensaje }}{% endblock %}
{% block botones %}
    <li><a href="/administracion/proyectos" class="btn btn-default">Volver</a></li>
{% endblock %}
{% block contenido %}
    <form id="formulario" method="post" action="">{% csrf_token %}
        <table class="table"><p>{{ formulario }}</p></table>
        <p><input class="btn btn-default" type="submit" value="Confirmar"></p>
    </form>
{% endblock %}