{% extends 'proyecto/administrar_proyecto.html' %}

{% block contenido %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <td>Nombre del Proyecto</td>
                <td>Lider de Proyecto</td>
            </tr>
        </thead>
        <tr>
        {% for proyecto in lista_proyectos %}
            <tr class="clickableRow info" href='{% url "administracion.views.detalle_proyecto" proyecto.id %}' id="tablaProyecto" rel="tabla" title="Ver detalles..">
            <td>{{ proyecto.Nombre}}</td>
            <td>{{ proyecto.Lider}}</td>
        {% empty %}
            <td class="warning">No hay proyectos registrados aun</td>
        {% endfor %}
        </tr>
    </table>
<div class="alert alert-success">{{ mensaje }}</div>
{% endblock %}