{% extends 'base.html' %}
{% block titulo %}Administracion de Fases{% endblock %}
{% block encabezado %}Administracion de Fases{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="/administracion/fases/nuevo" class="btn btn-default">Crear Fase</a></li>
{% endblock %}
{% block contenido %}
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for fase in fases %}
                <th><a href="{% url "administracion.views.detalle_fase" fase.id %}">{{ fase.Nombre }}</a></th>
                <th>{{ fase.Usuario }}</th>
                <th>{{ fase.Fecha }}</th>
            {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}