<!DOCTYPE html>
<html>
<head>
    <title>Ingresa al sistema</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    <link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">
</head>
<body>
    {% if form.errors %}
        <p class="has-error">Usuario o contraseña invalida</p>
    {% endif %}
    <div class="container">
        <form class="form-signin" id="formulario" method="post" action="">{% csrf_token %}
            <h2>Iniciar sesión</h2>
            <input type="text" name="username" value="" id="username" placeholder="Usuario" class="form-control" required autofocus>

            <input type="password" class="form-control" placeholder="Contraseña" required name="password" value="" id="password">

            <p><input class="btn btn-lg btn-primary btn-block" type="submit" value="Ingresar"></p>
            <input type="hidden" name="next" value="{{ next|escape }}" />
        </form>
    </div>

<!--
    <h1>Ingresa</h1>
    <form id="formulario" method="post" action="">{% csrf_token %}
        <table>{{ formulario }}</table>
        <p><input type="submit" value="Ingresar"></p>
    </form>


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
</body>
</html>

--!>