{% extends 'base.html' %}
{% block titulo %}Modificacion de Fase{% endblock %}
{% block encabezado %}Modificacion de {{ fase.Nombre }}{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
{% endblock %}
{% block contenido %}
    <form id="formulario" method="post" action="">{% csrf_token %}
        {{ formulario.as_p }}
        <p><input class="btn btn-default" type="submit" value="Crear Fase"></p>
    </form>
{% endblock %}