{% extends 'proyecto/administrar_proyecto.html' %}
{% block titulo %}Detalle de atributo{% endblock %}
{% block encabezado %}Versiones del atributo {{ atributo.Nombre}}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="{% url 'administracion.views.administrar_atributo' proyecto.id %}" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Tipo</td>
                <td>Descripcion</td>
                <td>Fecha</td>
                <td>Id en la tabla de versiones</td>
            </tr>
        </thead>
        <tbody>
            {% for version in lista_versiones %}
                <tr>
                <td>{{ version.field_dict.Usuario }}</td>
                <td>{{ version.field_dict.Tipo }}</td>
                <td>{{ version.field_dict.Descripcion}}</td>
                <td>{{ version.field_dict.Fecha }}</td>
                <td>{{ version.id }}</td>
                <td>
                    <div class="btn-group pull-right">
                        <a href="{% url "administracion.views.reversion_atributo" proyecto.id atributo.id version.id %}" type="button" class="btn btn-danger">Revertir a esta version</a>
                    </div>
                 </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}