{% extends 'des_fase.html' %}
{% block encabezado %}Ingrese los datos del item{% endblock %}
{% block botones%}<li><a class="btn btn-default" href="{% url 'desarrollo.views.des_fase' fase.Proyecto.id fase.id%}">Volver</a></li>{% endblock %}

{% block titulo %}Crear item {% endblock %}
{% block contenido %}
    <form id="formulario" method="post" action="">{% csrf_token %}
        <!-- <table class="table"><p>{{ formulario.as_table }}</p></table> -->
        <table class="table">
            {% for field in formulario %}
                {% if field.errors %}
                    <tr class="list-group-item-danger">
                {% else %}
                    <tr>
                {% endif %}
                    <th>{{field.label_tag }}</th>
                    <td>
                        {{ field.errors }}
                        {% if field.label == "Tipo" %}
                                <select class="form-control" id="id_Tipo" name="Tipo">
                                <option value="" selected="selected">Elige un tipo</option>
                                {% for tipo in lista_tipos %}
                                    <option value="{{ tipo.id }}">{{ tipo }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <p><input class="btn btn-default" type="submit" value="Confirmar"></p>
    </form>
{% endblock %}
