{% extends 'des_fase.html' %}
{% block titulo %}Calculo de Impacto{% endblock %}
{% block botones %}
    <li><a href="{% url 'desarrollo.views.des_fase' fase.Proyecto.id fase.id %}" class="btn btn-default">Volver</a></li>
{% endblock %}
{% block encabezado %}Impacto del item: {{ item.Nombre }}{% endblock %}
{% block contenido %}
    <div class="col-lg-5 text-center">
        <ul class="list-group">
        <li class="list-group-item">Costo Monetario hacia atras: {{ costo_monetario_atras }}</li>
        <li class="list-group-item">Costo Monetario hacia adelante: {{ costo_monetario_adelante }}</li>
        <li class="list-group-item">Costo Monetario Total: {{ costo_monetario_total }}</li>
        <li class="list-group-item">Costo Temporal hacia atras: {{ costo_temporal_atras }}</li>
        <li class="list-group-item">Costo Temporal hacia adelante: {{ costo_temporal_adelante }}</li>
        <li class="list-group-item">Costo Temporal Total: {{ costo_temporal_total }}</li>
        </ul>
    </div>
    <div>
        <h3 class="col-lg-10">Grafo del Costo Unitario</h3>
        <a title="Haz click para ver la imagen en su tamano original" target="_blank" href="/static/media/grafoImpactoUnitario.png"><img src="/static/media/grafoImpactoUnitario.png" class="img-responsive col-lg-10"></a>
    </div>
    <div>
        <h3 class="col-lg-10">Grafo del Costo Temporal</h3>
        <a title="Haz click para ver la imagen en su tamano original" target="_blank" href="/static/media/grafoImpactoTemporal.png"><img src="/static/media/grafoImpactoTemporal.png" class="img-responsive col-lg-10"></a>
    </div>
{% endblock %}